b {
    font-size: 30px;
    border: 2px;
    color: rgb(2, 2, 24);
}

h1 {
    color: rgb(222, 20, 20);
    font-size: 50px;
    border: 2px;
    text-align: center;
    font-family: "licida handwriting", cursive;
}

h2 {
    color: rgb(178, 26, 127);
    font-size: 30px;
    border: 2px;
    text-align: center;
    font-family: "papyrus", fantasy;
}
h3 {
       font-size: 30px;
       border: 2px;
       font-family:'Courier New', Courier, monospace
}
.L1 {
    background-color: rgb(180, 229, 245);
}

.L2 {
    background-color: rgb(236, 209, 232);
}

.T1 {
    background-color: rgb(234, 200, 206);

}

.T2 {
    background-color: rgb(234, 237, 196);
}

.T3 {
    background-color: rgb(178, 222, 202);
}
ul.a {
    list-style-type: square;
    background: #ff9999;
    padding: 20px;
}
ul li {background: #ffe5e5;
color: darkred;
padding: 5px;
margin-left: 35px;
}

a:visited {
    color: green;
}

a:hover {
    color: hotpink;
}

a:active {
    color: blue;
} 
